---
import "../styles/style.css";
import { Debug } from "astro/components";

const url =
  "https://fyoibrnkhfthmeiffltn.supabase.co/rest/v1/Events?apikey=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5b2licm5raGZ0aG1laWZmbHRuIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3ODAxNDAsImV4cCI6MTk5NDM1NjE0MH0.N4_YxpgdHxnVlLKlbxyFb2MT2AM-4wqZt0LIP3E31To";

const options = {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5b2licm5raGZ0aG1laWZmbHRuIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3ODAxNDAsImV4cCI6MTk5NDM1NjE0MH0.N4_YxpgdHxnVlLKlbxyFb2MT2AM-4wqZt0LIP3E31To",
  },
};

const response = await fetch(url, options);
const data = await response.json();
const main = [];
const second = [];
const lawn = [];
data.forEach((element) => {
  if (element.location === "Main stage") {
    main.push(element);
  } else if (element.location === "Second stage") {
    second.push(element);
  } else {
    lawn.push(element);
  }
});
---

<html lang="en">
  <details>
    <summary>Debugger</summary>
    <Debug {data} />
  </details>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class="main-container">
      <div class="hero-grid">
        <h1>Sakura Festival</h1>
        <video class="hero-video" autoplay loop src="/video/hero-video.webm"></video>
        <p>Experience the magic of japan's cherry blossoms at Sakura Festival - a spectacular celebration of nature and culture you can't miss!</p>
      </div>
      <a href="/booths">booths</a>
      <div class="main">
        {
          main.map((stage) => {
            return <p>{stage.name}</p>;
          })
        }
      </div>
      <div class="second">
        {
          second.map((stage) => {
            return <p>{stage.name}</p>;
          })
        }
      </div>
      <div class="lawn">
        {lawn.map((stage) => <p>{stage.name}</p>)}
      </div>
    </div>
  </body>

  <style>
    .hero-video {
      mask: url("img/svg-video-mask.svg") no-repeat center / contain;
    }
  </style>


</html>
