---
const url =
  "https://fyoibrnkhfthmeiffltn.supabase.co/rest/v1/Booths?apikey=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5b2licm5raGZ0aG1laWZmbHRuIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3ODAxNDAsImV4cCI6MTk5NDM1NjE0MH0.N4_YxpgdHxnVlLKlbxyFb2MT2AM-4wqZt0LIP3E31To";

const options = {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5b2licm5raGZ0aG1laWZmbHRuIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3ODAxNDAsImV4cCI6MTk5NDM1NjE0MH0.N4_YxpgdHxnVlLKlbxyFb2MT2AM-4wqZt0LIP3E31To",
  },
};

const response = await fetch(url, options);
const data = await response.json();
---

<div class="boder">
  <div class="boder1">
    {
      data
        .filter((stage) => stage.Stand < 20)
        .sort((a, b) => parseInt(a.Stand) - parseInt(b.Stand))
        .map((stage) => {
          return (
            <article class={stage.Kategori}>
              <div class="info-flex-b">
                <p class="stand">{stage.Stand}.</p>
                <p>{stage.Navn}</p>
              </div>
            </article>
          );
        })
    }
  </div>
  <div class="boder2">
    {
      data
        .filter((stage) => stage.Stand > 19)
        .sort((a, b) => parseInt(a.Stand) - parseInt(b.Stand))
        .map((stage) => {
          return (
            <article class={stage.Kategori}>
              <div class="info-flex-b">
                <p class="stand">{stage.Stand}.</p>
                <p>{stage.Navn}</p>
              </div>
            </article>
          );
        })
    }
  </div>
</div>

<style>
  /* .boder1 {
    grid-column: 2/3;
    max-height: 25rem;
  } */

  article {
  }

  .boder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 4rem;
    gap: 1rem;
    padding-inline: 1rem;
  }

  .boder2 {
    padding-right: 1rem;
  }

  .info-flex-b {
    display: flex;
    gap: var(--small);
    margin-top: var(--extra-small);
  }

  .stand {
    font-weight: bold;
  }
</style>
