---
import Layout from "../../components/Layout.astro";
import "../../styles/style.css";

export async function getStaticPaths() {
  const url =
    "https://fyoibrnkhfthmeiffltn.supabase.co/rest/v1/Events?apikey=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5b2licm5raGZ0aG1laWZmbHRuIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3ODAxNDAsImV4cCI6MTk5NDM1NjE0MH0.N4_YxpgdHxnVlLKlbxyFb2MT2AM-4wqZt0LIP3E31To";

  const options = {
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5b2licm5raGZ0aG1laWZmbHRuIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3ODAxNDAsImV4cCI6MTk5NDM1NjE0MH0.N4_YxpgdHxnVlLKlbxyFb2MT2AM-4wqZt0LIP3E31To",
    },
  };

  const response = await fetch(url, options);
  const data = await response.json();

  return data.map((event) => ({
    params: { slug: event.id },
    props: { event },
  }));
}

const { event } = Astro.props;
---

<Layout>
  <img class="event-img" src={`../img/${event.picture}`} alt="" />
  <div class="main-container">
    <ul>
      <li><a href="../">Home</a></li>
      <li><a href="/schedule">Schedule</a></li>
      <li><a href="#">{event.name}</a></li>
    </ul>
    <div class="flex-space-between">
      <h1>{event.name}</h1>
      <button class="favorite-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" id="favorite-icon"
          ><path
            fill="var(--red)"
            d="m12.1 18.55l-.1.1l-.11-.1C7.14 14.24 4 11.39 4 8.5C4 6.5 5.5 5 7.5 5c1.54 0 3.04 1 3.57 2.36h1.86C13.46 6 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5c0 2.89-3.14 5.74-7.9 10.05M16.5 3c-1.74 0-3.41.81-4.5 2.08C10.91 3.81 9.24 3 7.5 3C4.42 3 2 5.41 2 8.5c0 3.77 3.4 6.86 8.55 11.53L12 21.35l1.45-1.32C18.6 15.36 22 12.27 22 8.5C22 5.41 19.58 3 16.5 3Z"
          ></path></svg
        >
      </button>
    </div>
    <div class="container">
      <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M10.5 13.2C10.1694 13.2 9.89256 13.0944 9.66933 12.8832C9.44533 12.6727 9.33333 12.4117 9.33333 12.1C9.33333 11.7883 9.44533 11.5269 9.66933 11.3157C9.89256 11.1052 10.1694 11 10.5 11C10.8306 11 11.1078 11.1052 11.3318 11.3157C11.5551 11.5269 11.6667 11.7883 11.6667 12.1C11.6667 12.4117 11.5551 12.6727 11.3318 12.8832C11.1078 13.0944 10.8306 13.2 10.5 13.2ZM5.83333 13.2C5.50278 13.2 5.2255 13.0944 5.0015 12.8832C4.77828 12.6727 4.66667 12.4117 4.66667 12.1C4.66667 11.7883 4.77828 11.5269 5.0015 11.3157C5.2255 11.1052 5.50278 11 5.83333 11C6.16389 11 6.44117 11.1052 6.66517 11.3157C6.88839 11.5269 7 11.7883 7 12.1C7 12.4117 6.88839 12.6727 6.66517 12.8832C6.44117 13.0944 6.16389 13.2 5.83333 13.2ZM15.1667 13.2C14.8361 13.2 14.5592 13.0944 14.336 12.8832C14.112 12.6727 14 12.4117 14 12.1C14 11.7883 14.112 11.5269 14.336 11.3157C14.5592 11.1052 14.8361 11 15.1667 11C15.4972 11 15.7741 11.1052 15.9973 11.3157C16.2213 11.5269 16.3333 11.7883 16.3333 12.1C16.3333 12.4117 16.2213 12.6727 15.9973 12.8832C15.7741 13.0944 15.4972 13.2 15.1667 13.2ZM10.5 17.6C10.1694 17.6 9.89256 17.4944 9.66933 17.2832C9.44533 17.0727 9.33333 16.8117 9.33333 16.5C9.33333 16.1883 9.44533 15.9273 9.66933 15.7168C9.89256 15.5056 10.1694 15.4 10.5 15.4C10.8306 15.4 11.1078 15.5056 11.3318 15.7168C11.5551 15.9273 11.6667 16.1883 11.6667 16.5C11.6667 16.8117 11.5551 17.0727 11.3318 17.2832C11.1078 17.4944 10.8306 17.6 10.5 17.6ZM5.83333 17.6C5.50278 17.6 5.2255 17.4944 5.0015 17.2832C4.77828 17.0727 4.66667 16.8117 4.66667 16.5C4.66667 16.1883 4.77828 15.9273 5.0015 15.7168C5.2255 15.5056 5.50278 15.4 5.83333 15.4C6.16389 15.4 6.44117 15.5056 6.66517 15.7168C6.88839 15.9273 7 16.1883 7 16.5C7 16.8117 6.88839 17.0727 6.66517 17.2832C6.44117 17.4944 6.16389 17.6 5.83333 17.6ZM15.1667 17.6C14.8361 17.6 14.5592 17.4944 14.336 17.2832C14.112 17.0727 14 16.8117 14 16.5C14 16.1883 14.112 15.9273 14.336 15.7168C14.5592 15.5056 14.8361 15.4 15.1667 15.4C15.4972 15.4 15.7741 15.5056 15.9973 15.7168C16.2213 15.9273 16.3333 16.1883 16.3333 16.5C16.3333 16.8117 16.2213 17.0727 15.9973 17.2832C15.7741 17.4944 15.4972 17.6 15.1667 17.6ZM2.33333 22C1.69167 22 1.14217 21.7848 0.684833 21.3543C0.228278 20.9231 0 20.405 0 19.8V4.4C0 3.795 0.228278 3.27727 0.684833 2.8468C1.14217 2.4156 1.69167 2.2 2.33333 2.2H3.5V0H5.83333V2.2H15.1667V0H17.5V2.2H18.6667C19.3083 2.2 19.8578 2.4156 20.3152 2.8468C20.7717 3.27727 21 3.795 21 4.4V19.8C21 20.405 20.7717 20.9231 20.3152 21.3543C19.8578 21.7848 19.3083 22 18.6667 22H2.33333ZM2.33333 19.8H18.6667V8.8H2.33333V19.8Z"
          fill="#AF253E"></path>
      </svg>
      <p>{event.day}</p>
    </div>
    <div class="container">
      <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M8 10.1911C8.55 10.1911 9.021 9.99134 9.413 9.59185C9.80433 9.19304 10 8.71338 10 8.15287C10 7.59236 9.80433 7.11236 9.413 6.71287C9.021 6.31405 8.55 6.11465 8 6.11465C7.45 6.11465 6.97933 6.31405 6.588 6.71287C6.196 7.11236 6 7.59236 6 8.15287C6 8.71338 6.196 9.19304 6.588 9.59185C6.97933 9.99134 7.45 10.1911 8 10.1911ZM8 17.6815C10.0333 15.7792 11.5417 14.0508 12.525 12.4963C13.5083 10.9425 14 9.56263 14 8.35669C14 6.50531 13.4207 4.98921 12.262 3.80841C11.104 2.62828 9.68333 2.03822 8 2.03822C6.31667 2.03822 4.89567 2.62828 3.737 3.80841C2.579 4.98921 2 6.50531 2 8.35669C2 9.56263 2.49167 10.9425 3.475 12.4963C4.45833 14.0508 5.96667 15.7792 8 17.6815ZM8 20C7.86667 20 7.73333 19.9745 7.6 19.9236C7.46667 19.8726 7.35 19.8047 7.25 19.7197C4.81667 17.5287 3 15.4949 1.8 13.6183C0.6 11.7411 0 9.98726 0 8.35669C0 5.80892 0.804333 3.77919 2.413 2.26752C4.021 0.755839 5.88333 0 8 0C10.1167 0 11.979 0.755839 13.587 2.26752C15.1957 3.77919 16 5.80892 16 8.35669C16 9.98726 15.4 11.7411 14.2 13.6183C13 15.4949 11.1833 17.5287 8.75 19.7197C8.65 19.8047 8.53333 19.8726 8.4 19.9236C8.26667 19.9745 8.13333 20 8 20Z"
          fill="#AF253E"></path>
      </svg>
      <p>{event.location}</p>
    </div>
    <div class="container">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M11 10.175L13.25 12.425C13.4333 12.6083 13.525 12.8377 13.525 13.113C13.525 13.3877 13.4333 13.625 13.25 13.825C13.05 14.025 12.8127 14.125 12.538 14.125C12.2627 14.125 12.025 14.025 11.825 13.825L9.7 11.7C9.46667 11.4667 9.29167 11.2083 9.175 10.925C9.05833 10.6417 9 10.3333 9 10V7C9 6.71667 9.096 6.479 9.288 6.287C9.47933 6.09567 9.71667 6 10 6C10.2833 6 10.521 6.09567 10.713 6.287C10.9043 6.479 11 6.71667 11 7V10.175ZM10 2C10.2833 2 10.521 2.09567 10.713 2.287C10.9043 2.479 11 2.71667 11 3C11 3.28333 10.9043 3.521 10.713 3.713C10.521 3.90433 10.2833 4 10 4C9.71667 4 9.47933 3.90433 9.288 3.713C9.096 3.521 9 3.28333 9 3C9 2.71667 9.096 2.479 9.288 2.287C9.47933 2.09567 9.71667 2 10 2ZM18 10C18 10.2833 17.904 10.5207 17.712 10.712C17.5207 10.904 17.2833 11 17 11C16.7167 11 16.4793 10.904 16.288 10.712C16.096 10.5207 16 10.2833 16 10C16 9.71667 16.096 9.479 16.288 9.287C16.4793 9.09567 16.7167 9 17 9C17.2833 9 17.5207 9.09567 17.712 9.287C17.904 9.479 18 9.71667 18 10ZM10 16C10.2833 16 10.521 16.096 10.713 16.288C10.9043 16.4793 11 16.7167 11 17C11 17.2833 10.9043 17.5207 10.713 17.712C10.521 17.904 10.2833 18 10 18C9.71667 18 9.47933 17.904 9.288 17.712C9.096 17.5207 9 17.2833 9 17C9 16.7167 9.096 16.4793 9.288 16.288C9.47933 16.096 9.71667 16 10 16ZM4 10C4 10.2833 3.90433 10.5207 3.713 10.712C3.521 10.904 3.28333 11 3 11C2.71667 11 2.479 10.904 2.287 10.712C2.09567 10.5207 2 10.2833 2 10C2 9.71667 2.09567 9.479 2.287 9.287C2.479 9.09567 2.71667 9 3 9C3.28333 9 3.521 9.09567 3.713 9.287C3.90433 9.479 4 9.71667 4 10ZM10 20C8.61667 20 7.31667 19.7373 6.1 19.212C4.88333 18.6873 3.825 17.975 2.925 17.075C2.025 16.175 1.31267 15.1167 0.788 13.9C0.262667 12.6833 0 11.3833 0 10C0 8.61667 0.262667 7.31667 0.788 6.1C1.31267 4.88333 2.025 3.825 2.925 2.925C3.825 2.025 4.88333 1.31233 6.1 0.787C7.31667 0.262333 8.61667 0 10 0C11.3833 0 12.6833 0.262333 13.9 0.787C15.1167 1.31233 16.175 2.025 17.075 2.925C17.975 3.825 18.6873 4.88333 19.212 6.1C19.7373 7.31667 20 8.61667 20 10C20 11.3833 19.7373 12.6833 19.212 13.9C18.6873 15.1167 17.975 16.175 17.075 17.075C16.175 17.975 15.1167 18.6873 13.9 19.212C12.6833 19.7373 11.3833 20 10 20ZM10 18C12.2333 18 14.125 17.225 15.675 15.675C17.225 14.125 18 12.2333 18 10C18 7.76667 17.225 5.875 15.675 4.325C14.125 2.775 12.2333 2 10 2C7.76667 2 5.875 2.775 4.325 4.325C2.775 5.875 2 7.76667 2 10C2 12.2333 2.775 14.125 4.325 15.675C5.875 17.225 7.76667 18 10 18Z"
          fill="#AF253E"></path>
      </svg>
      <p>{event.time}</p>
    </div>

    <div class="content">
      <hr />
      <p>
        {event.description}
      </p>
    </div>
  </div>
</Layout>

<style>
  ul {
    display: flex;
    margin-top: var(--small);
  }

  li:not(:last-child):after {
    content: "/";
    margin-inline: var(--extra-small);
  }

  li {
    transition: 50ms all ease-in;
  }

  a:hover {
    color: var(--red);
    transition: 50ms all ease-in;
  }

  li:last-of-type {
    color: var(--red);
  }

  .event-img {
    object-position: center;
    width: 100%;
    height: 50dvh;
    height: 50vh;
    object-fit: cover;
    transform: scale(1);
    transition: opacity 200ms ease-out, transform 200ms;
  }

  hr {
    width: 30rem;
  }

  #favorite-icon {
    width: clamp(2.5rem, 2.1966rem + 1.2945vw, 3.75rem);
  }

  #favorite-icon:hover path {
    d: path("m12 21.35l-1.45-1.32C5.4 15.36 2 12.27 2 8.5C2 5.41 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.08C13.09 3.81 14.76 3 16.5 3C19.58 3 22 5.41 22 8.5c0 3.77-3.4 6.86-8.55 11.53L12 21.35Z");
  }

  button {
    background-color: transparent;
    outline-color: transparent;
    border: transparent;
    cursor: pointer;
  }

  h1 {
    margin-block: var(--medium);
  }

  hr {
    margin-block: var(--small);
  }

  .flex-space-between {
    display: flex;
    justify-content: space-between;
    place-items: center;
  }

  .container {
    margin-block: var(--small);
    display: flex;
    place-items: center;
    gap: var(--small);
  }

  .fill {
    d: path("m12 21.35l-1.45-1.32C5.4 15.36 2 12.27 2 8.5C2 5.41 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.08C13.09 3.81 14.76 3 16.5 3C19.58 3 22 5.41 22 8.5c0 3.77-3.4 6.86-8.55 11.53L12 21.35Z");
  }
</style>

<script>
  const element = document.querySelector(".event-img");
  let lastScrollPosition = 0;

  window.addEventListener("scroll", function () {
    const scrollPosition = window.pageYOffset;
    const elementPosition = element.offsetTop;

    if (window.innerWidth < 1000) {
      // Only apply animation on screens wider than 1000px
      if (scrollPosition > elementPosition - window.innerHeight / 2) {
        element.classList.add("hidden");
      } else {
        element.classList.remove("hidden");
      }

      if (scrollPosition < lastScrollPosition) {
        element.classList.remove("hidden");
      }
    }

    lastScrollPosition = scrollPosition;
  });

  // Get the SVG path element
  const heartIcon = document.querySelector("#favorite-icon path");

  // Define a function to toggle the "fill" class of the SVG path
  function toggleHeart() {
    heartIcon.classList.toggle("fill");
  }

  // Add a click event listener to the SVG path element
  heartIcon.addEventListener("click", toggleHeart);
</script>
